.main_title {
    background: url('../img/title.png') center/cover no-repeat;
}

.main_title_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1366px;
    padding-top: 187px;
    padding-bottom: 50px;
    margin: 0 auto;
}

.main_tile_heading {
    font-family: 'Ogg';
    font-style: normal;
    font-weight: 400;
    font-size: 117px;
    line-height: 120px;
    color: #000000;
    align-items: center;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.main_title_btn {
    font-family: 'Basis Grotesque Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    align-items: end;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #000000;
    border: solid 2px #000000;
    border-radius: 74px;
    cursor: pointer;
    width: 149.54px; 
    height: 148px;
    margin-left: 1215px;
}

.main_title_btn:hover {
    color: #000000;
    background-color: #e6e6e6;
    transition: 0.1s;
}