@import url(./footer.css);
@import url(./main.css);
@import url(./header.css);

@font-face {
	font-family: 'Basis Grotesque Pro'; 
	src: url(../fonts/BasisGrotesquePro-Medium.ttf); 
}

@font-face {
	font-family: 'Basis Grotesque Pro'; 
	src: url(../fonts/BasisGrotesquePro-Regular.ttf); 
}

@font-face {
	font-family: 'Ogg'; 
	src: url(../fonts/Ogg-Regular.ttf); 
}

@font-face {
	font-family: 'Roboto'; 
	src: url(../fonts/Roboto-Regular.ttf); 
}

a {
    text-decoration: none;
}